.cart {
    font-family: 'Jura';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.cartEmpty {
    margin-top: 50px;
    text-align: center;
}

.cart__wrapper {
    margin: 50px 0 70px 0;
}

.cartItems__wrapper {
    border-top: 2px solid #C30000;
    border-bottom: 2px solid #C30000;
    margin: 15px 0;
}

.signatures {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.signatures p {
    margin: 0;
}

.totalPrice {
    margin: 0 110px 0 55px;
}

.subtotalPrice {
    text-align: right;
}

.subtotalPrice span {
    margin-left: 55px;
}

/* ///////////////////////////// */

.cartItem {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.imageAndAbout {
    display: flex;
    align-items: center;
}

.imageAndAbout h2 {
    font-size: 22px;
    margin-left: 20px;
}

.cartItem__image {
    height: 230px;
    border: 1px solid #000;
    border-radius: 10px;
}

.cartItem__information {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deleteBtn {
    font-size: 26px;
    color: #C30000;
}


/* ///////////////////////////// */

@media (max-width:1024px) {
    .cartItem__information {
        width: 260px;
    }

    .totalPrice {
        margin: 0 65px 0 20px;
    }

}

@media (max-width:768px) {

    .totalPrice {
        margin: 0 40px 0 10px;
    }

    .cart {
        font-size: 18px;
    }

    .cartItem__information {
        width: 200px;
    }


    .imageAndAbout {
        width: 500px;
    }

    .cartItem__image {
        height: 160px;
    }

    .imageAndAbout h2 {
        font-size: 18px;
    }

}

@media (max-width:426px) {

    .cart {
        font-size: 15px;
    }

    .totalPrice {
        margin: 0 10px 0 8px;
    }

    .imageAndAbout {
        display: flex;
        width: 200px;
        flex-direction: column;
    }

    .cartItem__image {
        width: 195px;
        margin-bottom: 20px;
    }

    .imageAndAbout h2 {
        margin: 0;
        text-align: center;
        width: 200px;
    }

    .cartItem__information {
        width: 150px;
        font-size: 18px;
    }

    .cartItem__information p:not(:last-child){
        margin-right: 25px;
    }

    .subtotalPrice{
        font-size: 20px;
    }

}

@media (max-width:376px) {

    .totalPrice {
        margin: 0 0 0 4px;
    }

    .imageAndAbout {
        width: 165px;
    }

    .cartItem__image {
        width: 160px;
        margin-bottom: 10px;
    }

    .imageAndAbout h2 {
        width: 165px;
        font-size: 16px;
    }

    .cartItem__information {
        width: 140px;
    }

    .subtotalPrice{
        font-size: 18px;
    }

}