.catalog__wrapper {
    font-family: "Jura";
}

.category__wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.category__button,
.product__card__btn {
    width: 120px;
    height: 30px;
    background-color: #e43838;
    border-radius: 5px;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

.category__button {
    height: 50px;
}

.category__button:not(:last-child) {
    margin-right: 26px;
}

.product__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product__card {
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px grey;
    max-width: 420px;
    margin: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product__card h3 {
    font-size: 15px;
    font-weight: 600;
    margin: 15px 0;
    text-align: center;
    cursor: pointer;
}


.product__card h3 a {
    color: #000;
}

.product__card__ditales {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.product__card__btn {
    width: 95px;
    height: 25px;
    cursor: pointer;
}

.product__card__price {
    font-size: 20px;
    font-weight: bold;
}

.productImage {
    width: 240px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

/* ////////////////////////// */

.product__wrapper {
    display: flex;
    font-family: "Jura";
    margin-top: 15%;
}

.product__image__wrapper {
    margin: 0 50px;
}

.product__imageAndInf {
    height: 100%;
    display: flex;
    align-items: center;
}

.product__image {
    width: 500px;
    border: 1px solid #000;
    border-radius: 10px;
}

.produst__information h1,
.product__price {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.product__description {
    font-size: 25px;
    margin: 50px 0;
}

.product__priceAndBtn {
    display: flex;
    justify-content: space-between;
}

.product__card__btnForCart {
    width: 200px;
    height: 50px;
    background-color: #e43838;
    border-radius: 10px;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}



@media (max-width: 1024px) {
    .product__wrapper {
        margin-top: 50px;
    }

    .product__imageAndInf {
        display: flex;
        flex-direction: column;
    }

    .product__image__wrapper {
        margin-bottom: 50px;
    }

    .produst__information h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .product__description {
        margin: 30px 0;
    }
}

@media (max-width: 768px) {

    .catalog__wrapper {
        margin-bottom: 30px;
    }

    .category__wrapper {
        width: 80%;
        margin: 0 auto;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .category__button {
        margin-bottom: 15px;
    }
}

@media (max-width: 426px) {
    .category__button:nth-child(even) {
        margin-right: 8px;
    }

    .category__button:nth-child(even) {
        margin-left: 8px;
        margin-right: 0;
    }

    .product__wrapper {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .product__image {
        width: 380px;
    }

    .arrowBack {
        margin-bottom: 15px;
    }

    .product__description {
        font-size: 22px;
        text-align: center;
        margin-top: 0;
    }

    .product__card__btnForCart {
        width: 180px;
        height: 45px;
    }

    .product__price {
        font-size: 28px;
    }
}

@media (max-width: 376px) {

    .category__button:nth-child(even) {
        margin-right: 2px;
    }

    .category__button:nth-child(even) {
        margin-left: 2px;
        margin-right: 0;
    }

    .category__button {
        margin-bottom: 14px;
    }

    .product__image {
        width: 330px;
    }

    .product__image__wrapper{
        margin-bottom: 25px;
    }
}